---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22BP%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - engine3.yql.bf1.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"query":{"count":1,"created":"2012-07-26T12:28:46Z","lang":"en-US","results":{"quote":{"symbol":"BP","Bid":null,"Ask":null}}}}'
  recorded_at: Thu, 26 Jul 2012 12:28:46 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20symbol,%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22.L%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - engine9.yql.ac4.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: '{"query":{"count":1,"created":"2012-07-26T12:36:00Z","lang":"en-US","results":{"quote":{"symbol":".L","Bid":null,"Ask":null}}}}'
  recorded_at: Thu, 26 Jul 2012 12:36:00 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22BP%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Yql-Host:
      - engine9.yql.bf1.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"lang":"en-US","description":"Query syntax error(s) [line
        1:13 expecting field got ''yahoo'']"}}'
  recorded_at: Wed, 20 Nov 2013 09:43:40 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?env=store://datatables.org/alltableswithkeys&format=json&q=select%20Ask,%20Bid%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22BP%22)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - engine7.yql.bf1.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"count":1,"created":"2013-11-20T09:44:29Z","lang":"en-US","results":{"quote":{"Bid":null,"Ask":null}}}}'
  recorded_at: Wed, 20 Nov 2013 09:44:30 GMT
recorded_with: VCR 2.7.0
